<nav>
    <ul>
        <li style="display: inline-block;"><a href="/user">Account</a></li>
        <li style="display: inline-block;">
            <form action="/search/" method="get">
                <input type="text" placeholder="Search Here" name="q">
                <input type="submit" value="Search">
            </form>
        </li>
    </ul>
</nav>