<div>
    <form>
        <input type="text" name="user" placeholder="Enter Username"><br>
        <input type="text" name="pass" placeholder="Enter Password"><br>
        <input type="submit" name="login" value="Login">
    </form>
</div>